# Build
build/
cmake-build-*/
dist/

# C++
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Node
node_modules/

# Environment
.env

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log